name: Bandit

on:
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Perform Bandit Analysis
        uses: PyCQA/bandit-action@v1
        with:
          targets: "."
